html,
body {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  background-color: white;
  max-width: auto;
  overflow-x: hidden;
}

.navbar {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  padding: 5px 10px;
}

.navbar-brand {
  font-family: "Sacramento", cursive;
  font-size: 2rem;
}

.nav-item {
  color: white;
}

#header-section {
  background-color: #1f2937;
  color: #f9faf8;
}

.header-text {
  color: #e5e7eb;
  font-size: 1.25rem;
}

.header-container {
  margin: 20px;
  padding: 8% 15%;
}

.header-img {
  width: 500px;
}

h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 800;
  font-size: 3rem;
}

.information-section {
  color: #1f2937;
  padding: 3% 18%;
}

.info-card {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
  color: #1f2937;
}

h2 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  padding-bottom: 5%;
}

.card-img-top {
  object-fit: cover;
  overflow: hidden;
  width: 220px;
  height: 220px;
  border: 3px solid #3882f6;
}

#quote-section {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 7% 20%;
}

.quote {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 1.25;
}

h3 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.cta-card {
  margin: 6% 13%;
  padding: 3% 5%;
  color: #f9faf8;
  line-height: 1;
}

h5 {
  font-weight: 700;
  font-size: 1.5rem;
}

.cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 30%;
}

#footer {
  background-color: #1f2937;
  color: #f9faf8;
  margin: auto;
  padding: 2%;
  align-items: center;
}
